#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias shoe="cd ~/Documents/MayShoe/shoe-project"
alias flick="cd ~/Documents/WebApps/FlickPicker"
alias cs="cd ~/Documents/1B/CS138"
alias al="vi ~/.aliases"
alias xcode="xcode-select --install"
alias clr="clear"
alias npmu="npm uninstall"
alias npmi="npm install"
alias rnm="rm -rf node_modules/ && npm install"
alias docr="docker-compose run"
alias docu="docker-compose up"
alias dspace="docker system df"

# UW SSH
alias sshuw="ssh -Y dwijetun@linux.student.cs.uwaterloo.ca"
alias sshuwv="ssh -Y dwijetun@linux.student.cs.uwaterloo.ca && cd cs137/valgrind/"
alias ccomp="gcc -std=c11 -o"
alias cpl="g++ --std=c++17 -o"
alias cpld="g++ --std=c++17 -ggdb -o"
alias ccompd="gcc -std=c11 -Wall -ggdb3 -o"
alias leak="valgrind --leak-check=full --track-origins=yes --show-leak-kinds=all"
send () {
scp $1 dwijetun@linux.student.cs.uwaterloo.ca:~/$2
}
sendcs () {
scp $1 dwijetun@linux.student.cs.uwaterloo.ca:~/cs241
}

#git aliases
alias g="git"
alias gb="git branch"
alias gs="git status"
alias gss="git stash save -u"
alias gsl="git stash list"
gsp(){
git stash pop stash@{$1}
}
alias gsf="git stash"
alias gd="git diff"
alias ga="git add"
alias gl="git log"
alias gm="git merge"
alias gcom="git commit -m"
alias gac="git add . && git commit -m"
alias gch="git checkout"
alias gpl="git pull"
alias gps="git push"
alias gdh="git diff head"
alias gr="git reset"
alias grb="git rebase"
alias gpsfls="git push --force-with-lease"
alias gpsu="gps -u origin head"
alias glog="git log"
alias gcomam="git commit --amend --no-edit"
alias gcl="git clone"
comhis() {
git rebase -i HEAD~$1
}
#docker aliases
alias dps="docker ps"
alias dtags="docker ps -aq"
alias dstop="docker stop"
alias drm="docker rm"
alias dcu="docker-compose up"
alias dn="docker network"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias src="source ~/.extra && source ~/.aliases && source ~/.functions && source ~/.bash_profile"
